fastapi[standard]
pydantic
pydantic-settings
python-dotenv
sqlalchemy
psycopg2-binary
pyjwt
pwdlib[argon2]
python-multipart
langgraph
langchain
langchain-openai
langchain-community
llama_cloud_services
bs4
jinja2
